@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.wrapper>*{
    margin: 5px;
    flex: 1 100%;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFFF;
    z-index: 1;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    display: inline-block;
    margin: 0 7px;
    color: black;
    font-size: 20px;
    font-weight: 500;
}

nav ul li a{
    display: inline-block;
    margin: 0 20px;
    color: black;
    transition: all .2s ease-in-out;
}

.logo{
    display: flex;
    align-items: center;

    .logoimg{
        width: 60px;
        height: 60px;
        margin-right: 20px;
    }

    .logoText{
        font-weight: 600;
        font-size: 30px;
    }
}

main{
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    padding: 2rem 4rem;
    flex: 1;
    align-items: center;
}

.content{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    scroll-snap-align: start;
}

/*Main Content*/
main.content{
    flex: 1;
    display: flex;
    align-items: center;
}

main.content-projects{
    flex: 1;
    align-items: center;
}

main.content .first-content-description{
    flex: 1 1;
}

main.content .first-content-description .title{
    font-size: 3.5rem;
    margin-block: 1rem;
}

main .content .first-content-description p {
    line-height: 1.7rem;
    font-size: 1.2rem;
    text-align: justify;
}
/*-- Button --*/
main .content .first-content-description button {
    padding: .8rem 2.5rem;
    margin-block-start: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;

    border-radius: 999px;
    background-color: #FFFF;
    border-color: black;
    cursor: pointer;
    transition: all .15s ease-in;
}

main .content .first-content-description button:hover {
    background-color: black;
    color: #FFFF;
}

/*-- End of Button --*/


main .content .first-content-image {
    flex: 1;
    display: flex;
}

main .content .second-content-image{
    flex: 1 1;
}

main .content .first-content-image img {
    margin: auto;
    min-width: 250px;
    width: 300px;
}

main .content .second-content-image img {
    margin: auto;
    min-width: 250px;
    width: 300px;
}
/*End of Main Content*/

/*Aside*/
.Linkedin, .ig, .yt{
    margin-left: 10px;
    width: 40px;
    height: 40px;
}

main aside{
    position:absolute;
    inset-block: 0;
    inset-inline-end: 0;
}

main aside .social-media{
    height: 100%;
    display: flex;
}

main aside .social-media ul {
    padding: 1.25rem 0.75rem;
    margin: auto;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: black;
   
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

main aside .social-media li {
    list-style-type: none;
  }
/*End of Aside*/

/* Gallery Carousel */

.gallery{
    width: 100%;
    scroll-snap-align: start;
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.section-carousel .carousel{
    max-width: 1600px;
    align-items: center;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% - 3) -12px);
    display: grid;
    gap: 20px;
    margin: 80px 0;
}

.carousel-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrowkey{
    width: 10%;
    height: auto;
}

.carousel{
    overflow: hidden;
}

.carousel .carousel-card{
    height: 250px;
    list-style: none;
    background: #ffff;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.carousel-card .carousel-img img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

.carousel :where(.carousel-card, .carousel-img){
    display: flex;
    align-items: center;
    justify-content: center;
}

/* End of Gallery Carousel */

/* Projects */

.content-project{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    text-align: center;
    height: 100vh;
}

.section-content{
    margin: 40px 0;
    display: flex;
    justify-content: center;
}

.content-section .section-content .card{
    flex: 1;
    margin: 15px 15px;
    box-shadow: 0px 2px 8px 0px;
    border-radius: 5%;
}

.content-section .section-content .card img{
    margin: 30px 0;
    width: 95%;
    height: auto;
}

.content-section .section-content .card h2{
    margin: 10px 0px;
}

.content-section .section-content .card p{
    font-size: 16px;
    line-height: 1.5;
    padding: 0 10px;
    margin-bottom: 20px;
}

/* End of Projects */

@media screen and (max-width: 900px){
    .section-carousel .carousel{
        grid-auto-columns: calc((100% - 2) -9px);
    }

    .arrowkey{
        display: none;
    }

    .carousel-card .carousel-img img{
        width: 171px;
        height: 171px;
        object-fit: cover;
        border-radius: 50%;
    }
}

@media screen and (max-width: 600px){
    .section-carousel .carousel{
        grid-auto-columns: 100%;
    }

    .arrowkey{
        display: none;
    }
}